@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
section {
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/*Variables*/
$accent-color: #b88b58;
@mixin button-style {
    background-color: $accent-color;
    border: none;
    width: 200px;
    height: 50px;
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    transition: 0.3s;
    &:hover {
        background-color: black;
        color: $accent-color;
    }
}

/*Styles for section header*/
header {
    background-image: url('../images/bg-img-01.png');
    height: 100vh;
    color: white;
    .navbar-inverse {
        background-color: #000;
        border-color: #000;
        .navbar-nav {
            padding-top: 25px;
            height: 100px;
            li {
            height: 100%;
                a {
                    color: white;
                    font-weight: bold;
                    text-align: center;
                    &:hover {
                        color: $accent-color;
                    }
                }
            }
        }
    }
    .navbar {
        border-radius: 0;
    }
    .navbar-brand {
        height: 100px;
        padding: 25px;
    }
    .carousel {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 72px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        h4 {
            margin-bottom: 40px;
            font-weight: bold;
            font-size: 24px;
        }
        .accent-color {
            color: $accent-color;
        }
        .item {
            height: 300px;
            button {
                @include button-style;
            }
        }
        #myCarousel {
            width: 100%;
        }
        .carousel-indicators {
            bottom: 0;
            li {
                border: 2px solid $accent-color;
            }
            .active {
                background-color: $accent-color;
            }
        }
    }
    .call-button {
        background-color: $accent-color;
        border-radius: 50%;
        position: fixed;
        bottom: 20px;
        right: 100px;
        height: 65px;
        width: 65px;
        border: none;
        transition: 0.3s;
        z-index: 100;
        &:hover {
            background-color: black;
        }
    }
    .current {
        a { 
            color: $accent-color !important;
        }
    }
}
.current {
    border-bottom: 5px solid $accent-color;
}

/*Styles for section about*/
section {
    h1 {
        font-size: 30px;
        font-weight: bold;
        color: #000;
    }
    h5 {
        font-weight: bold;
        color: #aeaeae;
        margin-bottom: 50px;
    }
}
.about {
    p {
        color: #242424;
    }
    button {
        @include button-style;
        margin-top: 50px;
    }
}
/*Styles for section services*/
.services {
    background-color: #000;
    h1, h3 {
        color: white;
        font-weight: bold;
    }
    .fa {
        color: $accent-color;
        font-size: 60px;
        margin-bottom: 30px;
    }
    p {
        color: #7e7e7e;
        font-size: 16px;
    }
    .side-border {
        border-right: 2px solid #bebebe;
        height: 210px;
        &:first-of-type {
            border-left: 2px solid #bebebe;
        }
    }
}

/*Styles for section projects*/
.projects {
    .nav {
        background-color: #ededed;
        display: inline-block;
        border: 1px solid #cfcfcf;
        border-radius: 30px;
        padding: 0 20px;
        margin-bottom: 50px;
        li {
            padding: 10px;
            border-right: 1px solid #cfcfcf;
            &:last-of-type {
                border-right: none;
            }
            a {
                color: black;
                &:hover {
                    color: $accent-color;
                }
            }
        }
        .active {
            a {
                background-color: transparent !important;
                color: #000 !important;
            }
        }
    }
    img {
        width: 100%;
    }
    .row {
        margin-bottom: 50px;
    }
    .col-md-3 {
        position: relative;
    }
    .layer {
        position: absolute;	
        top: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        h4, p {
            visibility: hidden;
            color: white;
            padding: 0 20px;
        }
        p {
            font-size: 12px;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.75);
            h4, p {
                visibility: visible;
            }
        }
    }
}

/*Media queries*/
@media (max-width: 500px) {
    header {
        .carousel {
            h1 {
                font-size: 28px;
            }
            h4 {
                font-size: 14px;
            }
        }
        .call-button {
            display: none;
        }
    }
    .about {
        iframe {
            max-width: 300px; 
            height: auto;
        }
    }
    .projects {
        .col-xs-6 {
            width: 100%;
        }
        .nav {
            padding: 0 10px;
            li {
                padding: 10px 5px;
                a {
                    font-size: 8px !important;
                    padding: 10px 0;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    /*Styles for section: header*/
    header {
        height: auto;
        background-size: cover;
        .navbar-inverse {
            .navbar-nav {
                height: auto;
                padding: 0;
            }
        }
        .current {
            border-bottom: none;
        }
    }
    /*Styles for section services*/
    .services {
        .side-border {
            margin-bottom: 40px;
            border: none !important;
        }
    }
}
@media (min-width: 501px) and (max-width: 767px) {
     /*Styles for section: header*/
     header {
        .carousel {
            height: 85vh;
            h1 {
                font-size: 40px;
            }
            h4 {
                font-size: 18px;
            }
        }
    }
    /*Styles for section projects*/
    .projects {
        .nav {
            li {
                a {
                    font-size: 10px !important;
                    padding: 10px 0;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    /*Styles for section about*/
    .about {
        text-align: center;
        button {
            margin: 50px auto;
        }
    }
    /*Styles for section projects*/
    .projects {
        img {
            margin-bottom: 50px;
        }
        .row {
            margin-bottom: 0;
        }
        .layer {
            bottom: 50px;
        }
        .nav {
            li a {
                font-size: 12px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*Styles for section: header*/
    header {
        .navbar-nav {
            font-size: 10px;
            li a {
                padding: 10px 5px;
            }
        }
        .carousel {
            h1 {
                font-size: 58px;
            }
            h4 {
                font-size: 20px;
            }
        }
    }
    /*Styles for section services*/
    .services {
        .side-border {
            margin-bottom: 40px;
            &:nth-of-type(3) {
                border-left: 2px solid #bebebe;
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    /*Styles for section: header*/
    header {
        .navbar-nav {
            font-size: 12px;
            li a {
                padding: 10px;
            }
        }
    }
}
